Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,modernize-*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,performance-*,readability-*,-readability-magic-numbers,-readability-isolate-declaration,-readability-implicit-bool-conversion,-readability-braces-around-statements'
