*
!.gitignore
!.zprofile
!.zshrc
!.ssh/
!.ssh/config
!.toprc
!.gitconfig
!.config
!.config/termite
!.config/termite/config
!.config/nvim
!.config/nvim/init.vim
!.config/redshift.conf
!.config/redshift/
!.config/redshift/hooks/
!.config/redshift/hooks/notify.sh
!.local
!.local/bin
!.local/bin/ss
