*
!.config
!.config/cmus/
!.config/cmus/rc
!.config/cmus/tmux.conf
!.config/git/
!.config/git/config
!.config/git/ignore
!.config/termite/
!.config/termite/config
!.config/yay/
!.config/yay/config.json
!.config/zsh/
!.config/zsh/.zshrc
!.config/zsh/plugins.txt
!.config/zsh/zshrc
!.gitignore
!.local/
!.local/bin
!.local/bin/screenshot
!.scrc
!.tmux.conf
!.toprc
!.vim/
!.vim/coc-settings.json
!.vim/vimrc
!.zprofile
