*
!.config
!.config/cmus/
!.config/cmus/rc
!.config/cmus/tmux.conf
!.config/git/
!.config/git/config
!.config/git/ignore
!.config/nvim/
!.config/nvim/init.vim
!.config/redshift.conf
!.config/redshift/
!.config/redshift/hooks/
!.config/redshift/hooks/notify.sh
!.config/termite/
!.config/termite/config
!.config/yay/
!.config/yay/config.json
!.config/zsh/
!.config/zsh/.plugins.txt
!.config/zsh/.zshrc
!.gitignore
!.local/
!.local/bin
!.local/bin/ss
!.scrc
!.ssh/
!.ssh/config
!.tmux.conf
!.toprc
!.zprofile
